body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #F5F5F5;
  text-align: center;
}

.logo {
  height: 200px;
  width: 200px;
  margin: 20px 20px;
}

nav ul {
  margin-bottom: 20px;
  display: inline;
}
nav li {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 30px;
  display: inline;
  vertical-align: baseline;
}

nav li a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #50FFE5;
  cursor: pointer;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  border-top: 20px white solid;
  border-bottom: 20px white solid;
}

.social {
  height: 40px;
  width: 40px;
}

footer li {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%
}

footer li:hover {
  border: 2px solid #50FFE5;
  border-radius: 50%
}
